@using My_CV.Models.Entity
@model List<TBL_Yetenekler>

<div class="resume-section-content">
    <h2 class="mb-5">Yetenekler</h2>
   
    
    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @x.Yetenek
            </li>
        }
        </ul>
 
</div>