
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <h2>Hakkımda</h2>
    <div class="container-fluid">
        <div class="row mb-2">
           
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Ad</th>
                        <th>Soyad</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Sena</td>
                        <td>Gitmiş</td>
                    </tr>
                </table>
            </div></div>
</section>
